################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/University/FileContentIndex
/UniversityApiBackend/obj/Debug/net6.0/ref/UniversityApiBackend.dll
/UniversityApiBackend/obj/Debug/net6.0/refint/UniversityApiBackend.dll
/UniversityApiBackend/obj/Debug/net6.0/UniversityApiBackend.dll
/UniversityApiBackend/obj/Debug/net6.0/UniversityApiBackend.pdb
/UniversityApiBackend/bin/Debug/net6.0/UniversityApiBackend.dll
/UniversityApiBackend/bin/Debug/net6.0/UniversityApiBackend.pdb
/.vs/University/v17/.suo
/.vs/University/v17/.futdcache.v2
/.vs/University/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/university.metadata.v7.bin
/.vs/ProjectEvaluation/university.projects.v7.bin
